{% extends 'base.html' %} {% block content %}


<form name="chatbot-form" method="POST" action="/text-to-speech" class="w-100">
  <div class="fluid-container">
    <div class="history-container">
      <div class="message-container sender"></div>
      <div class="message-container receiver"></div>
      <div class="audio-container" {% if audio_messages %}style="display: block;" {% else %}style="display: none;" {%
        endif %}>
        <ul style="list-style-type: none;">
          {% for user_audio in audio_messages %}
          <li class="row">
            <div class="col-6">
              <audio controls>
                <source src="{{ url_for('get_audio', filename=user_audio) }}" type="audio/ogg">
                Your browser does not support the audio tag.
              </audio>
            </div> 
            <div class="col-6 text_bubble">
              {% if loop.index0 < input_messages|length %} 
                <p>{{ input_messages[loop.index0] }}</p>
              {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="speech-output-container" {% if speech_messages %}style="display: block;" {% else
        %}style="display: none;" {% endif %}>
        <div style="float: right; width: 45%;">
          {% for speech_message in speech_messages %}
          <div class="speech-text w-100">
            <p id="speech-output-text">{{ speech_message }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div id="display-error" style="display: none;"></div>

    </div>


  </div>

  <div class="input-container">
    <div class="message-container">
      <input type="text" class="message-input" id="message-input" placeholder="Type your message...">

      <button class="send-button" type="button" onclick="textToSpeech()" title="send">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </button>
      <div class="mic">
        <button class="start-record" id="startRecording" type="button" title="record">
          <i class="fas fa-microphone-alt"></i>
        </button>
        <button class="stop-record" id="stopRecording" type="button" title="stop" disabled>
          <i class="fa-regular fa-circle-stop"></i>
        </button>
      </div>
    </div>
  </div>
</form>
{% endblock %}