<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="./style.css"> -->

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="../static/script.js" async defer></script>

</head>

<body>
  <form name="chatbot-form" method="POST" action="/text-to-speech" class="w-100">
    <div class="fluid-container">
      <div class="history-container">
        <div class="message-container sender"></div>
        <div class="message-container receiver"></div>
        <div class="audio-container" {% if audio_messages %}style="display: block;" {% else %}style="display: none;" {%
          endif %}>
          <ul style="list-style-type: none;">
            {% for user_audio in audio_messages %}
            <li>
              <audio controls>
                <source src="/get-audio/{{ user_audio }}" type="audio/ogg">
                Your browser does not support the audio tag.
              </audio>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="output-container">
        <p id="output-text" name="output-text" readonly></textarea>
      </div>
    </div>

    <div class="input-container">
      <div class="message-container">
        <input type="text" class="message-input" id="message-input" placeholder="Type your message...">
        <button class="send-button" type="button" onclick="textToSpeech()">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>

</body>

</html>