{% extends 'base.html' %} {% block content %}


<form name="chatbot-form" method="POST" action="/text-to-speech" class="w-100">
  <div class="fluid-container">
    <div class="history-container">
      <div class="message-container sender"></div>
      <div class="message-container receiver"></div>
      <div class="audio-container" {% if audio_messages %}style="display: block;" {% else %}style="display: none;" {%
        endif %}>
        <ul style="list-style-type: none;">
          {% for user_audio in audio_messages %}
          <li>
            <audio controls>
              <source src="{{ url_for('get_audio', filename=user_audio) }}" type="audio/ogg">
              Your browser does not support the audio tag.
            </audio>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="output-container">
      <p id="output-text" name="output-text" readonly></textarea>
    </div>
  </div>

  <div class="input-container">
    <div class="message-container">
      <input type="text" class="message-input" id="message-input" placeholder="Type your message...">

      <button class="send-button" type="button" onclick="textToSpeech()">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </button>
      <div class="mic">
        <button class="start-record" id="startRecording" type="button">
          <i class="fas fa-microphone-alt"></i> 
        </button>
        <button class="stop-record" id="stopRecording" type="button" disabled>
          <i class="fa-regular fa-circle-stop"></i>
        </button>
      </div>
    </div>
  </div>
</form>
{% endblock %}