### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml

project/templates/.DS_Store

# text-to-speech output audio files
*.ogg
# speech-to-text input audio files
*.wav
project/.DS_Store
flask_session/2029240f6d1128be89ddc32729463129
flask_session/3934f1d2d18052f4db0dd1b05075c19f
project/static/speech_audio/converted_audio.wav
